body {
    background-color: black;
    background: url("/img/bg-dot.svg") black;
    color: white;
    display: grid;
    grid-template-rows: auto auto;
    scroll-behavior: smooth;
    margin: 0;
    animation: bg-anim 200s linear infinite;
}
@keyframes bg-anim {
    0% {
        background-position: center center;
    }
    12.5% {
        background-position: right top;
    }
    37.5% {
        background-position: right bottom;
    }
    62.5% {
        background-position: left top;
    }
    87.5% {
        background-position: left bottom;
    }
    100% {
        background-position: center center;
    }
}
* {
    user-select: none;
    overflow-anchor: none;
}
a {
    text-decoration: none;
    color: white;
}
@keyframes zoom-in {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.1;
    }
}
@keyframes zoom-out {
    0% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}

::-webkit-scrollbar {
    display: none;
}
* {
    scrollbar-width: none;
}

@media print {
    * {
        display: none !important
    }
}