#tooltip {
    display: none;
    position: absolute;
    color: aliceblue;
    background-color: #051209;
    padding: 10px;
    border-radius: 5px;
    transform: translateX(-50%);
    z-index: 2;
}
.no-display-strict {
    display: none !important;
}
@media screen and (orientation: portrait) {
    #tooltip {
        font-size: small;
    }
}