#about-me {
    text-align: center;
    background-color: black;
}
#about-me-sub {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#profile-pic-abt {
    min-width: 150px;
    min-height: 150px;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    border: rgba(89, 243, 59, 0.3) 5px solid;
    margin-bottom: 2vh;
}
h1 {
    color: rgb(231, 25, 18);
    font-size: 3rem;
    margin-bottom: 2vh;
}
#abt-me-socials {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: rgba(10, 10, 0, 0.1);
    border-radius: 50px;
    padding: 2vh;
    height: 6vh;
    width: 45vh;
    margin-bottom: 2vh;
}
#abt-me-socials > a {
    display: inline;
    background-color: black;
    height: 6vh;
    width: 6vh;
    overflow: hidden;
    border-radius: 50%;
}
.abt-me-social-logo {
    background-color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
#explore-my-works-btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: rgba(15, 23, 143, 0.1);
    border: rgba(0, 7, 65, 0.5) 1px solid;
    color: aliceblue;
}
#explore-my-works-btn:hover {
    background-color: rgba(36, 143, 15, 0.1);
    border: rgba(0, 65, 3, 0.5) 1px solid;
    cursor: pointer;
}