body {
    background-color: black;
    background: url("/assets/images/bg-dot.svg") black;
    color: white;
    display: grid;
    grid-template-rows: auto auto;
    scroll-behavior: smooth;
    margin: 0;
}
body > div {
    height: 100vh;
}
* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    overflow-anchor: none;
}
a {
    text-decoration: none;
    color: white;
}
@keyframes zoom-in {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.1;
    }
}
@keyframes zoom-out {
    0% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}

::-webkit-scrollbar {
    display: none;
}
* {
    scrollbar-width: none;
}

@media print {
    * {
        display: none !important
    }
}