#my-works {
    width: fit-content;
    height: fit-content !important;
    margin-left: auto;
    margin-right: auto;
}
#navbar {
    width: 60vw;
    height: 5vw;
    min-height: 6vh;
    background-color: rgba(50, 150, 69, 0.25);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5vw;
    margin-top: 1vh;
}
.fix-navbar {
    position: sticky;
    top: 1vh;
    width: fit-content;
    background-color: rgba(50, 150, 69, 0.95) !important;
    border: rgb(20, 75, 35) 3px solid;
}