#my-works {
    width: fit-content;
    min-height: 100vh;
    height: fit-content !important;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    width: 69vw;
    height: fit-content;
    animation: navbar infinite 300s;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5vw;
    margin-top: 1vh;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    z-index: 2;
}
@keyframes navbar {
    0%, 100% {
        background-color: rgba(50, 150, 69, 0.95);
        border: rgb(20, 75, 35) 3px solid;
    }
    50% {
        background-color: rgba(50, 85, 150, 0.95);
        border: rgb(50, 85, 150) 3px solid;
    }
}
.fix-navbar {
    position: sticky;
    top: 1vh;
    width: fit-content;
}
#navbar > div {
    height: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#navbar p {
    font-size: x-large;
}
.my-works-social-logo {
    margin-right: 1vw;
    margin-left: 1vw;
}
@media screen and (orientation: portrait) {
    #navbar {
        width: 90vw;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
    }
    #navbar-search {
        width: 85vw;
        margin: auto;
    }
    .my-works-social-logo {
        margin: 2vh;
    }
}
#navbar-search {
    display: flex;
}
#navbar-search > * {
    border: 0;
    background-color: inherit;
    outline: none;
}
#navbar-search > button {
    width: fit-content;
}
#navbar-search > input {
    border-bottom: wheat 1px solid;
    width: 10vw;
    color: white;
    flex-grow: 1;
    font-size: large;
}
#navbar-search > input::placeholder {
    color: white;
}