#search-parent {
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: none;
}
#search {
    background-color: black;
    border: white 1px solid;
    border-radius: 10px;
    width: 90vw;
    height: 80vh;
    max-width: 50vh;
    padding: 2vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}
#search-loader {
    text-align: center;
}
#close-search {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    background-color: black;
    color: white;
    border: white 1px solid;
    border-radius: 50%;
    font-size: larger;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}
#search-with {
    display: grid;
    grid-row: auto auto;
    text-align: center;
    position: static;
    bottom: 0;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#search-with > p {
    font-size: medium;
    color: rgba(255, 255, 255, 0.75);
}
#search-with > div > p {
    display: inline;
    border: white 1px solid;
    padding: 3px;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
}

#search-results {
    display: none;
}
#search-results > p {
    text-align: center;
}

.result-title {
    font-size: large;
    color: rgb(14, 14, 209);
}
.result-description {
    font-size: medium;
    color: rgb(64, 78, 44);
}
.result {
    border: rgba(255, 255, 255, 0.2) 1px solid;
    cursor: pointer;
    padding: 10px;
}
.result:hover {
    background-color: rgba(0, 100, 20, .1);
}
#error-loading-search {
    color: red;
    text-align: center;
    display: none;
}