#slides-parent {
    background-color: rgba(255, 255, 255, 0.01);
    margin-top: 2vh;
    border-radius: 15px;
    width: 85vw;
    padding: 1.5vw;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
.strict-no-opacity, .strict-no-opacity *{
    opacity: 1 !important;
}

.slide {
    background-color: black;
    width: 85vw;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
    font-size: small;
}
.slide:hover {
    opacity: 1 !important;
}
@media screen and (orientation: portrait) {
    .slide {
        grid-template-columns: none !important;
        grid-template-rows: auto auto;
        height: fit-content;
    }
}
.slide-left, .slide-right {
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
@media screen and (orientation: portrait) {
    .slide-left, .slide-right {
        width: fit-content;
        min-height: 25vh;
    }
}

.slide-left {
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto;
}
.slide-left > h2 {
    font-size: 2rem;
}
.slide-left > img {
    max-height: 40vh;
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
}
.slide-left > * {
    cursor: pointer;
}
@media screen and (orientation: portrait) {
    .slide-left > img {
        max-height: 40vh;
        max-width: 80vw;
    }
}
.links-slide {
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    min-width: 50%;
}
.visit-work, .gh-work {
    margin: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    font-size: 1.5rem;
}

.slide-right {
    overflow-y: scroll;
}
@media screen and (orientation: landscape) {
    .slide-right-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
.slide-right-content {
    margin-left: 1vw;
    margin-right: 1vw;
}

#error-loading-slide {
    display: none;
    color: red;
    font-size: large;
    text-align: center;
    margin-top: 25vh;
}